<!-- 
<header class="mega-nav mega-nav--desktop position-relative js-mega-nav mega-nav--expanded">
    <div class="mega-nav__container">
        <a href="#" class="mega-nav__logo"></a>
        <div class="mega-nav__icon-btns mega-nav__icon-btns--mobile">
            <a href="#" class="mega-nav__icon-btn"></a>
            <button class="mega-nav__icon-btn mega-nav__icon-btn--search" aria-label="toggle-search" aria-controls="mega-nav-search"></button>
            <button class="mega-nav__icon-btn mega-nav__icon-btn--menu" aria-label="toggle-menu" aria-controls="mega-nav-navigation"></button>
        </div>

        <div class="mega-nav__nav js-mega-nav__nav" id="mega-nav-navigation" role="navigation" aria-label="Main">
            <div class="mega-nav__nav-inner">
                <ul class="mega-nav__items">
                    <li class="mega-nav__item js-mega-nav__item mega-nav__item--expanded">
                        <button class="mega-nav__control js-mega-nav__control" aria-expanded="">
                            <i class="mega-nav_arrow-icon" aria-hidden="true"></i>Home & Garden
                        </button>
                        
                        <div class="mega-nav__sub-nav-wrapper">
                            <div class="mega-nav__sub-nav mega-nav__sub-nav--layout-1 grid-12 gap-lg">
                                <ul class="mega-nav__sub-items col-span-3 mega-nav__tabs-controls">
                                    <li class="mega-nav__sub-item" role="presentation">
                                        <a href="#" class="mega-nav__tabs-control js-tabs__trigger" aria-selected="" role="tab" aria-controls="tabProduct1" tabindex="">
                                            <span class="items-center gap-xs">
                                                <img src="#" class="width-lg height-lg radius-50% object-cover" alt="Image description">
                                                <i class="margin-right-3xs">Furniture</i>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="mega-nav__sub-item" role="presentation">
                                        <a href="#" class="mega-nav__tabs-control js-tabs__trigger" aria-selected="" role="tab" aria-controls="tabProduct2" tabindex="">
                                            <span class="items-center gap-xs">
                                                <img src="#" class="width-lg height-lg radius-50% object-cover" alt="Image description">
                                                <i class="margin-right-3xs">Kitchen</i>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="mega-nav__sub-item" role="presentation">
                                        <a href="#" class="mega-nav__tabs-control js-tabs__trigger" aria-selected="" role="tab" aria-controls="tabProduct3" tabindex="">
                                            <span class="items-center gap-xs">
                                                <img src="#" class="width-lg height-lg radius-50% object-cover" alt="Image description">
                                                <i class="margin-right-3xs">Decor</i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="js-tabs tabs--no-interaction col-span-9" data-tabs-layout="vertical">
                                    <div class="js-tabs__panels">
                                        <section id="tabProduct1" class="mega-nav__tabs-panel js-tabs__panel" role="tabpanel" aria-labelledby="tab-tabProduct1">
                                            <a href="#0" class="mega-nav__tabs-img margin-bottom-md">
                                                <img src="#" class="width-100%" alt="Image description">
                                            </a>
                                            <div class="text-component">
                                                <h1 class="text-xl">Furniture Product</h1>
                                                <p class="color-contrast-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quaerat.</p>
                                                <p class="flex gap-2xs">
                                                    <a href="#0" class="btn btn--subtle">Go to shop</a>
                                                    <a href="#0" class="btn btn--primary">Buy</a>
                                                </p>
                                            </div>
                                        </section>
                                        <section id="tabProduct2" class="mega-nav__tabs-panel js-tabs__panel" role="tabpanel" aria-labelledby="tab-tabProduct2">
                                            <a href="#0" class="mega-nav__tabs-img margin-bottom-md">
                                                <img src="#" class="width-100%" alt="Image description">
                                            </a>
                                            <div class="text-component">
                                                <h1 class="text-xl">Kitchen Product</h1>
                                                <p class="color-contrast-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quaerat.</p>
                                                <p class="flex gap-2xs">
                                                    <a href="#0" class="btn btn--subtle">Go to shop</a>
                                                    <a href="#0" class="btn btn--primary">Buy</a>
                                                </p>
                                            </div>
                                        </section>
                                        <section id="tabProduct3" class="mega-nav__tabs-panel js-tabs__panel" role="tabpanel" aria-labelledby="tab-tabProduct3">
                                            <a href="#0" class="mega-nav__tabs-img margin-bottom-md">
                                                <img src="#" class="width-100%" alt="Image description">
                                            </a>
                                            <div class="text-component">
                                                <h1 class="text-xl">Decor Product</h1>
                                                <p class="color-contrast-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quaerat.</p>
                                                <p class="flex gap-2xs">
                                                    <a href="#0" class="btn btn--subtle">Go to shop</a>
                                                    <a href="#0" class="btn btn--primary">Buy</a>
                                                </p>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mega-nav__item js-mega-nav__item">
                        <button class="mega-nav__control js-mega-nav__control"><i class="mega-nav_arrow-icon" aria-hidden="true"></i></button>
                    </li>
                    <li class="mega-nav__item js-mega-nav__item">
                        <button class="mega-nav__control js-mega-nav__control"><i class="mega-nav_arrow-icon" aria-hidden="true"></i></button>
                    </li>
                    <li class="mega-nav__item js-mega-nav__item">
                        <button class="mega-nav__control js-mega-nav__control"><i class="mega-nav_arrow-icon" aria-hidden="true"></i></button>
                    </li>
                    <li class="mega-nav__item js-mega-nav__item">
                        <button class="mega-nav__control js-mega-nav__control"><i class="mega-nav_arrow-icon" aria-hidden="true"></i></button>
                    </li>
                    <li class="mega-nav__item js-mega-nav__item">
                        <button class="mega-nav__control js-mega-nav__control"><i class="mega-nav_arrow-icon" aria-hidden="true"></i></button>
                    </li>
                </ul>
                <ul class="mega-nav__items">
                    <li class="mega-nav__icon-btns mega-nav__icon-btns--desktop">
                        <div class="dropdown inline-block js-dropdown">
                            <div class="mega-nav__icon-btn dropdown__wrapper inline-block">
                                <a href="#" class="color-inherit flex height-100% width-100% flex-center dropdown__trigger js-dropdown__trigger"></a>
                                <ul class="dropdown__menu js-dropdown__menu dropdown__menu--hide" aria-label="submenu">
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                        <button class="mega-nav__icon-btn mega-nav__icon-btn--search" aria-label="toggle-search" aria-controls="mega-nav-search"></button>
                        <button class="mega-nav__icon-btn mega-nav__icon-btn--cart" aria-label="toggle-cart" aria-controls="mega-nav-cart"></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header> -->

<header class="mega-nav mega-nav--desktop position-relative js-mega-nav mega-nav--expanded">
    <div class="mega-nav__container">
        <a href="#" class="mega-nav__logo"></a>
        <div class="mega-nav__icon-btns mega-nav__icon-btns--mobile">
            <a href="#" class="mega-nav__icon-btn"></a>
            <button class="mega-nav__icon-btn mega-nav__icon-btn--search" aria-label="toggle-search" aria-controls="mega-nav-search"></button>
            <button class="mega-nav__icon-btn mega-nav__icon-btn--menu" aria-label="toggle-menu" aria-controls="mega-nav-navigation"></button>
        </div>
        <div class="mega-nav__nav js-mega-nav__nav" id="mega-nav-navigation" role="navigation" aria-label="Main">
            <div class="mega-nav__nav-inner">
                <ul class="mega-nav__items js-mega-nav__items"></ul>
                <ul class="mega-nav__items">
                    <li class="mega-nav__icon-btns mega-nav__icon-btns--desktop">
                        <div class="dropdown inline-block js-dropdown">
                            <div class="mega-nav__icon-btn dropdown__wrapper inline-block">
                                <a href="#" class="color-inherit flex height-100% width-100% flex-center dropdown__trigger js-dropdown__trigger"></a>
                                <ul class="dropdown__menu js-dropdown__menu dropdown__menu--hide" aria-label="submenu">
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                        <button class="mega-nav__icon-btn mega-nav__icon-btn--search" aria-label="toggle-search" aria-controls="mega-nav-search"><i class="fa-solid fa-magnifying-glass fa-rotate-90" style="color: #515151;"></i></button>
                        <button class="mega-nav__icon-btn mega-nav__icon-btn--cart" aria-label="toggle-cart" aria-controls="mega-nav-cart"><i class="fa-solid fa-cart-shopping" style="color: #515151;"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>